Repository poketwo/poketwo-next: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format-database, mix-format-protobuf-elixir, compile-protos-python, compile-protos-elixir

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
      - id: clippy

  - repo: local
    hooks:
      - id: mix-format-database
        name: mix format (database)
        description: Formats Elixir files with mix format.
        language: system
        entry: cd database && mix format
        files: \.exs?$

      - id: mix-format-protobuf-elixir
        name: mix format (protobuf-elixir)
        description: Formats Elixir files with mix format.
        language: system
        entry: cd protobuf-elixir && mix format
        files: \.exs?$

      - id: compile-protos-python
        name: Compile Protobufs (Python)
        description: This hook compiles protobufs for Python.
        entry: python protobuf-python/build.py
        language: python
        files: \.proto$
        pass_filenames: false

      - id: compile-protos-elixir
        name: Compile Protobufs (Elixir)
        description: This hook compiles protobufs for Elixir.
        entry: protoc --elixir_out=plugins=grpc:./protobuf-elixir/lib/ --proto_path=./protobuf
        language: system
        files: \.proto$

Disable hostname check
  database/config/releases.exs
Due: mix-format-database, mix-format-protobuf-elixir

Remove ssl opts
  database/config/releases.exs
Due: mix-format-database, mix-format-protobuf-elixir

Remove images submodule
  .gitmodules
Due: none

Fix docker build
  Dockerfile
Due: none

Fix CI
  Dockerfile
Due: none

Update formatter config
  database/.formatter.exs
  database/priv/repo/migrations/20220413160035_initial.exs
Due: mix-format-database, mix-format-protobuf-elixir

Add spawn weight
  database/lib/poketwo/database/models/variant.ex
  database/priv/repo/migrations/20220621010358_add_spawn_weight.exs
Due: mix-format-database, mix-format-protobuf-elixir

Add spawn weight load script
  database/lib/mix/tasks/db/set_spawn_weights.ex
Due: mix-format-database, mix-format-protobuf-elixir

Add get random spawn proto
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/service.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-python, compile-protos-elixir

Add get random spawn implementation
  database/lib/poketwo/database/v1/database/get_random_spawn.ex
  database/lib/poketwo/database/v1/database/server.ex
  database/mix.exs
  database/mix.lock
Due: mix-format-database, mix-format-protobuf-elixir

New translations catching.ftl (Chinese Traditional)
  resources/locales/zh-Hant/catching.ftl
Due: none

New translations catching.ftl (Chinese Simplified)
  resources/locales/zh-Hans/catching.ftl
Due: none

Update ignore files
  .dockerignore
  .gitignore
Due: none

Use random spawns
  module-catching/src/config.rs
  module-catching/src/spawning.rs
Due: none

Fix gitignore
  .gitignore
  database/config/dev.secret.exs
Due: mix-format-database, mix-format-protobuf-elixir

Add user check on catch
  module-catching/src/command/catch.rs
Due: none

Fix pokedex for non-default variants
  module-pokedex/src/command/pokedex.rs
  protobuf-rust/src/lib.rs
Due: none

Use spawn_blocking for IO operations
  imgen/src/image_cache.rs
  module-catching/src/spawning.rs
Due: none

Add spawn image generation
  Cargo.lock
  imgen/Cargo.toml
  imgen/src/image_cache.rs
  imgen/src/rpc/get_spawn_image.rs
Due: none

Rename pokemon argument to guess
  module-catching/src/command/catch.rs
  resources/locales/en/catching.ftl
Due: none

Restructure command dirs
  module-pokedex/src/command/pokedex/mod.rs
  module-pokedex/src/command/pokedex/search.rs
Due: none

Add selected pokemon
  database/lib/poketwo/database/models/user.ex
  database/priv/repo/migrations/20220623011159_add_selected_pokemon.exs
  protobuf-elixir/lib/poketwo/database/v1/models.pb.ex
  protobuf/poketwo/database/v1/models.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-python, compile-protos-elixir

Implement get selected pokemon
  database/lib/poketwo/database/v1/database/get_pokemon.ex
  database/lib/poketwo/database/v1/database/server.ex
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/service.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-python, compile-protos-elixir

Update precommit config
  .pre-commit-config.yaml
Due: none

Reorganize proto files
  protobuf-rust/src/lib.rs
  protobuf-rust/src/poketwo/database/mod.rs
  protobuf-rust/src/poketwo/database/v1/mod.rs
  protobuf-rust/src/poketwo/mod.rs
Due: none

Add variant to pokemon return
  database/lib/poketwo/database/models/pokemon.ex
Due: mix-format-database, mix-format-protobuf-elixir

Add helper functions for pokemon stats
  Cargo.lock
  protobuf-rust/Cargo.toml
  protobuf-rust/src/poketwo/database/v1/mod.rs
Due: none

Add info command
  module-pokedex/src/command/mod.rs
  module-pokedex/src/command/pokemon/info.rs
  module-pokedex/src/command/pokemon/mod.rs
  module-pokedex/src/main.rs
  resources/locales/en/general.ftl
  resources/locales/en/pokedex.ftl
Due: none

Refactor get pokemon route
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/v1/database/get_pokemon.ex
  module-pokedex/src/command/pokemon/info.rs
  protobuf-elixir/lib/poketwo/database/v1/models.pb.ex
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/models.proto
  protobuf/poketwo/database/v1/service.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-python, compile-protos-elixir

Add missing localization
  module-pokedex/src/command/pokemon/info.rs
  resources/locales/en/pokedex.ftl
Due: none

Add pokemon list command
  database/lib/poketwo/database/models/pokemon.ex
  module-pokedex/src/command/pokemon/info.rs
  module-pokedex/src/command/pokemon/list.rs
  module-pokedex/src/command/pokemon/mod.rs
  module-pokedex/src/main.rs
  resources/locales/en/pokedex.ftl
Due: mix-format-database, mix-format-protobuf-elixir

Remove intersperse, which is nightly
  module-pokedex/src/command/pokemon/list.rs
  module-pokedex/src/main.rs
Due: none

Refactor grpc server code
  database/lib/poketwo/database/v1/database/create_pokemon.ex
  database/lib/poketwo/database/v1/database/create_user.ex
  database/lib/poketwo/database/v1/database/get_pokemon.ex
  database/lib/poketwo/database/v1/database/get_pokemon_list.ex
  database/lib/poketwo/database/v1/database/get_random_spawn.ex
  database/lib/poketwo/database/v1/database/get_species.ex
  database/lib/poketwo/database/v1/database/get_user.ex
  database/lib/poketwo/database/v1/database/get_variant.ex
  database/lib/poketwo/database/v1/database/server.ex
Due: mix-format-database, mix-format-protobuf-elixir

Create user and starter pokemon in transaction
  database/lib/poketwo/database/models/user.ex
  database/lib/poketwo/database/v1/database/create_user.ex
  module-general/src/command/pick.rs
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/service.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-python, compile-protos-elixir

Fix extra spaces at start of line
  module-pokedex/src/command/pokemon/info.rs
Due: none

Refactor locale code
  Cargo.lock
  Cargo.toml
  command-framework/src/context.rs
  i18n-rust/Cargo.toml
  module-catching/src/command/catch.rs
  module-catching/src/spawning.rs
  module-general/src/command/pick.rs
  module-general/src/command/start.rs
  module-pokedex/src/command/pokedex/search.rs
  module-pokedex/src/command/pokemon/info.rs
  module-pokedex/src/command/pokemon/list.rs
Due: none

Add newly caught pokemon to pokedex
  database/lib/poketwo/database/models/pokedex_entry.ex
  database/lib/poketwo/database/v1/database/create_pokemon.ex
  database/lib/poketwo/database/v1/database/create_user.ex
  database/mix.exs
  database/mix.lock
  module-catching/src/command/catch.rs
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/service.proto
  resources/locales/en/catching.ftl
  resources/locales/en/main.ftl
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-python, compile-protos-elixir

Remove excess exclamation marks
  resources/locales/en/catching.ftl
Due: none

Change base english for level short
  resources/locales/en/pokedex.ftl
Due: none

Add balance fields
  database/lib/poketwo/database/models/user.ex
  database/priv/repo/migrations/20220625231008_add_balances.exs
  protobuf-elixir/lib/poketwo/database/v1/models.pb.ex
  protobuf/poketwo/database/v1/models.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-python, compile-protos-elixir
