Repository poketwo/poketwo-next: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
      - id: clippy

  - repo: local
    hooks:
      - id: mix-format-database
        name: mix format (database)
        description: Formats Elixir files with mix format.
        language: system
        entry: cd database && mix format
        files: \.exs?$

      - id: mix-format-protobuf-elixir
        name: mix format (protobuf-elixir)
        description: Formats Elixir files with mix format.
        language: system
        entry: cd protobuf-elixir && mix format
        files: \.exs?$

      - id: compile-protos-elixir
        name: Compile Protobufs (Elixir)
        description: This hook compiles protobufs for Elixir.
        entry: protoc --elixir_out=plugins=grpc:./protobuf-elixir/lib/ --proto_path=./protobuf
        language: system
        files: \.proto$

      - id: compile-protos-elixir
        name: Compile Protobufs (Rust)
        description: This hook compiles protobufs for Rust.
        entry: cd protobuf-rust && touch build.rs && cargo build
        language: system
        files: \.proto$

Update source file main.ftl
  resources/locales/en-US/main.ftl
Due: none

Update source file pokedex.ftl
  resources/locales/en-US/pokedex.ftl
Due: none

Add badges to readme
  README.md
Due: none

Fix source strings
  resources/locales/en-US/commands.ftl
Due: none

Update source file commands.ftl
  resources/locales/en-US/commands.ftl
Due: none

Implement pagination
  database/.formatter.exs
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/pagination.ex
  database/lib/poketwo/database/repo.ex
  database/lib/poketwo/database/utils.ex
  database/lib/poketwo/database/v1/database/get_pokemon_list.ex
  database/mix.exs
  database/mix.lock
  protobuf-elixir/lib/poketwo/database/v1/filters.pb.ex
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/filters.proto
  protobuf/poketwo/database/v1/service.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

Refactor pagination
  database/lib/poketwo/database/application.ex
  database/lib/poketwo/database/pagination.ex
  database/lib/poketwo/database/v1/database/get_pokemon_list.ex
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf-rust/src/lib.rs
  protobuf/poketwo/database/v1/service.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

Route amqp by message component custom id
  gateway/src/main.rs
Due: none

Refactor context
  command-framework/src/client.rs
  command-framework/src/command.rs
  command-framework/src/context.rs
  command-framework/src/lib.rs
  module-catching/src/command/catch.rs
  module-catching/src/main.rs
  module-general/src/command/pick.rs
  module-general/src/command/start.rs
  module-general/src/main.rs
  module-pokedex/src/command/pokedex/info.rs
  module-pokedex/src/command/pokedex/mod.rs
  module-pokedex/src/command/pokemon/favorite.rs
  module-pokedex/src/command/pokemon/info.rs
  module-pokedex/src/command/pokemon/list.rs
  module-pokedex/src/command/pokemon/mod.rs
  module-pokedex/src/command/pokemon/nickname.rs
  module-pokedex/src/command/pokemon/select.rs
  module-pokedex/src/main.rs
Due: none

Finish pagination for pokemon list
  Cargo.lock
  command-framework/src/context.rs
  database/lib/poketwo/database/v1/database/get_pokemon_list.ex
  module-pokedex/Cargo.toml
  module-pokedex/src/command/mod.rs
  module-pokedex/src/command/pokemon/list.rs
  module-pokedex/src/command/pokemon/mod.rs
  module-pokedex/src/main.rs
  resources/locales/en-US/errors.ftl
Due: mix-format-database, mix-format-protobuf-elixir

Remove unneeded annotation
  command-framework/src/lib.rs
Due: none

Update source file errors.ftl
  resources/locales/en-US/errors.ftl
Due: none

Add market and auction
  database/lib/poketwo/database/models/auction.ex
  database/lib/poketwo/database/models/market_listing.ex
  database/lib/poketwo/database/models/pokemon.ex
  database/priv/repo/migrations/20220712151155_add_market_and_auctions.exs
Due: mix-format-database, mix-format-protobuf-elixir

Add timestampts
  database/lib/poketwo/database/models/auction.ex
  database/lib/poketwo/database/models/market_listing.ex
  database/priv/repo/migrations/20220712151155_add_market_and_auctions.exs
Due: mix-format-database, mix-format-protobuf-elixir

Add market listing querying
  database/lib/poketwo/database/models/market_listing.ex
  database/lib/poketwo/database/pagination.ex
  database/lib/poketwo/database/pagination/market_listing.ex
  database/lib/poketwo/database/pagination/pokemon.ex
  database/lib/poketwo/database/repo.ex
  database/lib/poketwo/database/v1/database/get_market_list.ex
  database/lib/poketwo/database/v1/database/server.ex
  protobuf-elixir/lib/poketwo/database/v1/filters.pb.ex
  protobuf-elixir/lib/poketwo/database/v1/models.pb.ex
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/filters.proto
  protobuf/poketwo/database/v1/models.proto
  protobuf/poketwo/database/v1/service.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

Fix rust build
  module-pokedex/src/main.rs
Due: none

Abstract message components into listeners
  command-framework/src/client.rs
  command-framework/src/component_listener/mod.rs
  command-framework/src/component_listener/pagination.rs
  command-framework/src/lib.rs
  database/lib/poketwo/database/v1/database/get_market_list.ex
  database/lib/poketwo/database/v1/database/get_pokemon_list.ex
  module-catching/src/main.rs
  module-general/src/main.rs
  module-pokedex/src/command/pokemon/list.rs
  module-pokedex/src/main.rs
Due: mix-format-database, mix-format-protobuf-elixir

Improve filter descriptions
  database/lib/poketwo/database/models/pokemon.ex
  module-pokedex/src/command/pokemon/list.rs
Due: mix-format-database, mix-format-protobuf-elixir

Refactor command data localization
  Cargo.lock
  Cargo.toml
  command-framework-macros/Cargo.toml
  command-framework-macros/src/command.rs
  command-framework-macros/src/group.rs
  command-framework/Cargo.toml
  command-framework/src/client.rs
  command-framework/src/lib.rs
  i18n-rust/src/lib.rs
  module-catching/src/command/catch.rs
  module-general/src/command/pick.rs
  module-general/src/command/start.rs
  module-pokedex/src/command/pokedex/info.rs
  module-pokedex/src/command/pokedex/mod.rs
  module-pokedex/src/command/pokemon/favorite.rs
  module-pokedex/src/command/pokemon/info.rs
  module-pokedex/src/command/pokemon/list.rs
  module-pokedex/src/command/pokemon/mod.rs
  module-pokedex/src/command/pokemon/nickname.rs
  module-pokedex/src/command/pokemon/select.rs
  resources/locales/en-US/commands.ftl
Due: none

Revert twilight-interactions patch
  Cargo.lock
  Cargo.toml
Due: none

Remove periods from option descriptions
  resources/locales/en-US/commands.ftl
Due: none

Move pagination to utils crate
  Cargo.lock
  Cargo.toml
  command-framework/src/component_listener.rs
  module-pokedex/Cargo.toml
  module-pokedex/src/command/pokemon/list.rs
  utils/Cargo.toml
  utils/src/lib.rs
  utils/src/pagination.rs
Due: none

Add market search
  Cargo.lock
  Cargo.toml
  command-framework-macros/src/command.rs
  module-market/Cargo.toml
  module-market/src/command/market/mod.rs
  module-market/src/command/market/search.rs
  module-market/src/command/mod.rs
  module-market/src/config.rs
  module-market/src/main.rs
  module-market/src/state.rs
  resources/locales/en-US/commands.ftl
  resources/locales/en-US/main.ftl
  resources/locales/en-US/market.ftl
Due: none

Implement get and create market listing
  database/lib/poketwo/database/models/market_listing.ex
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/v1/database/create_market_listing.ex
  database/lib/poketwo/database/v1/database/get_market_listing.ex
  database/lib/poketwo/database/v1/database/server.ex
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/service.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

Implement delete market listing
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/v1/database/delete_market_listing.ex
  database/lib/poketwo/database/v1/database/server.ex
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/service.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

Add market add command
  database/lib/poketwo/database/v1/database/create_market_listing.ex
  module-market/src/command/market/add.rs
  module-market/src/command/market/mod.rs
  module-pokedex/src/command/pokemon/favorite.rs
  resources/locales/en-US/commands.ftl
  resources/locales/en-US/market.ftl
Due: mix-format-database, mix-format-protobuf-elixir

Add market remove command
  database/lib/poketwo/database/v1/database/delete_market_listing.ex
  module-market/src/command/market/mod.rs
  module-market/src/command/market/remove.rs
  resources/locales/en-US/commands.ftl
  resources/locales/en-US/market.ftl
Due: mix-format-database, mix-format-protobuf-elixir

Fix vscode proto ext config
  .vscode/settings.json
  protobuf/poketwo/database/v1/service.proto
Due: compile-protos-elixir

Implement purchase market listing rpc
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/models/user.ex
  database/lib/poketwo/database/v1/database/purchase_market_listing.ex
  database/lib/poketwo/database/v1/database/server.ex
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/service.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

Add market buy command
  database/lib/poketwo/database/v1/database/purchase_market_listing.ex
  module-market/src/command/market/buy.rs
  module-market/src/command/market/mod.rs
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/service.proto
  resources/locales/en-US/commands.ftl
  resources/locales/en-US/market.ftl
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

Add balance command
  command-framework/src/context.rs
  module-general/src/command/balance.rs
  module-general/src/command/mod.rs
  module-general/src/command/start.rs
  module-general/src/main.rs
  resources/locales/en-US/commands.ftl
  resources/locales/en-US/errors.ftl
  resources/locales/en-US/main.ftl
Due: none

Update source file market.ftl
  resources/locales/en-US/market.ftl
Due: none

Update readme link for market
  README.md
Due: none

Add message center
  Cargo.lock
  Cargo.toml
  message-center/Cargo.toml
  message-center/src/amqp.rs
  message-center/src/config.rs
  message-center/src/lib.rs
  message-center/src/main.rs
  message-center/src/message.rs
Due: none

Add market buy notification
  database/lib/poketwo/database/v1/database/purchase_market_listing.ex
  module-market/Cargo.toml
  module-market/src/command/market/buy.rs
  module-market/src/config.rs
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf-rust/src/lib.rs
  protobuf/poketwo/database/v1/service.proto
  resources/locales/en-US/market.ftl
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir
