Repository poketwo/poketwo-next: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format-database, mix-format-protobuf-elixir, compile-protos-python, compile-protos-elixir

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files

  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
      - id: clippy

  - repo: local
    hooks:
      - id: mix-format-database
        name: mix format (database)
        description: Formats Elixir files with mix format.
        language: system
        entry: cd database && mix format
        files: \.exs?$

      - id: mix-format-protobuf-elixir
        name: mix format (protobuf-elixir)
        description: Formats Elixir files with mix format.
        language: system
        entry: cd protobuf-elixir && mix format
        files: \.exs?$

      - id: compile-protos-python
        name: Compile Protobufs (Python)
        description: This hook compiles protobufs for Python.
        entry: python protobuf-python/build.py
        language: python
        files: \.proto$
        pass_filenames: false

      - id: compile-protos-elixir
        name: Compile Protobufs (Elixir)
        description: This hook compiles protobufs for Elixir.
        entry: protoc --elixir_out=plugins=grpc:./protobuf-elixir/lib/ --proto_path=./protobuf
        language: system
        files: \.proto$

New translations pokedex.ftl (German)
  resources/locales/de-DE/pokedex.ftl
Due: none

New translations main.ftl (Arabic)
  resources/locales/ar-SA/main.ftl
Due: none

New translations pokedex.ftl (French)
  resources/locales/fr-FR/pokedex.ftl
Due: none

New translations main.ftl (Chinese Simplified)
  resources/locales/zh-CN/main.ftl
Due: none

New translations main.ftl (German)
  resources/locales/de-DE/main.ftl
Due: none

New translations main.ftl (Japanese)
  resources/locales/ja-JP/main.ftl
Due: none

New translations pokedex.ftl (Japanese)
  resources/locales/ja-JP/pokedex.ftl
Due: none

New translations pokedex.ftl (Arabic)
  resources/locales/ar-SA/pokedex.ftl
Due: none

New translations main.ftl (Portuguese, Brazilian)
  resources/locales/pt-BR/main.ftl
Due: none

New translations pokedex.ftl (Chinese Simplified)
  resources/locales/zh-CN/pokedex.ftl
Due: none

New translations pokedex.ftl (Portuguese, Brazilian)
  resources/locales/pt-BR/pokedex.ftl
Due: none

New translations main.ftl (Hindi)
  resources/locales/hi-IN/main.ftl
Due: none

New translations pokedex.ftl (Chinese Traditional)
  resources/locales/zh-TW/pokedex.ftl
Due: none

New Crowdin updates (#2)
  resources/locales/ar-SA/main.ftl
  resources/locales/ar-SA/pokedex.ftl
  resources/locales/de-DE/main.ftl
  resources/locales/de-DE/pokedex.ftl
  resources/locales/es-ES/main.ftl
  resources/locales/es-ES/pokedex.ftl
  resources/locales/fr-FR/main.ftl
  resources/locales/fr-FR/pokedex.ftl
  resources/locales/hi-IN/main.ftl
  resources/locales/hi-IN/pokedex.ftl
  resources/locales/ja-JP/main.ftl
  resources/locales/ja-JP/pokedex.ftl
  resources/locales/nl-NL/main.ftl
  resources/locales/nl-NL/pokedex.ftl
  resources/locales/pl-PL/main.ftl
  resources/locales/pl-PL/pokedex.ftl
  resources/locales/pt-BR/main.ftl
  resources/locales/pt-BR/pokedex.ftl
  resources/locales/zh-CN/main.ftl
  resources/locales/zh-CN/pokedex.ftl
  resources/locales/zh-TW/main.ftl
  resources/locales/zh-TW/pokedex.ftl
Due: none

Update rustfmt config
  command-framework-macros/src/command.rs
  command-framework-macros/src/group.rs
  command-framework/src/client.rs
  command-framework/src/command.rs
  command-framework/src/context.rs
  command-framework/src/lib.rs
  gateway-client/src/lib.rs
  gateway/src/amqp.rs
  gateway/src/config.rs
  gateway/src/gateway.rs
  module-pokedex/src/command/pokedex.rs
  module-pokedex/src/config.rs
  rustfmt.toml
Due: none

Rename translation folders
  crowdin.yml
  resources/locales/ar/main.ftl
  resources/locales/ar/pokedex.ftl
  resources/locales/de/main.ftl
  resources/locales/de/pokedex.ftl
  resources/locales/en/main.ftl
  resources/locales/en/pokedex.ftl
  resources/locales/es/main.ftl
  resources/locales/es/pokedex.ftl
  resources/locales/fr/main.ftl
  resources/locales/fr/pokedex.ftl
  resources/locales/hi/main.ftl
  resources/locales/hi/pokedex.ftl
  resources/locales/it/main.ftl
  resources/locales/it/pokedex.ftl
  resources/locales/ja/main.ftl
  resources/locales/ja/pokedex.ftl
  resources/locales/ko/main.ftl
  resources/locales/ko/pokedex.ftl
  resources/locales/nl/main.ftl
  resources/locales/nl/pokedex.ftl
  resources/locales/pl/main.ftl
  resources/locales/pl/pokedex.ftl
  resources/locales/zh-Hans/main.ftl
  resources/locales/zh-Hans/pokedex.ftl
  resources/locales/zh-Hant/main.ftl
  resources/locales/zh-Hant/pokedex.ftl
Due: none

Update crowdin config
  crowdin.yml
  resources/locales/ar/main.ftl
  resources/locales/ar/pokedex.ftl
  resources/locales/de/main.ftl
  resources/locales/de/pokedex.ftl
  resources/locales/es/main.ftl
  resources/locales/es/pokedex.ftl
  resources/locales/fr/main.ftl
  resources/locales/fr/pokedex.ftl
  resources/locales/hi/main.ftl
  resources/locales/hi/pokedex.ftl
  resources/locales/it/main.ftl
  resources/locales/it/pokedex.ftl
  resources/locales/ja/main.ftl
  resources/locales/ja/pokedex.ftl
  resources/locales/ko/main.ftl
  resources/locales/ko/pokedex.ftl
  resources/locales/nl/main.ftl
  resources/locales/nl/pokedex.ftl
  resources/locales/pl/main.ftl
  resources/locales/pl/pokedex.ftl
  resources/locales/pt-BR/main.ftl
  resources/locales/pt-BR/pokedex.ftl
  resources/locales/zh-Hans/main.ftl
  resources/locales/zh-Hans/pokedex.ftl
  resources/locales/zh-Hant/main.ftl
  resources/locales/zh-Hant/pokedex.ftl
Due: none

New translations pokedex.ftl (Spanish)
  resources/locales/es/pokedex.ftl
Due: none

New translations main.ftl (Spanish)
  resources/locales/es/main.ftl
Due: none

Add user data
  database/lib/poketwo/database/models/pokedex_entry.ex
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/models/user.ex
  database/priv/repo/migrations/20220610082449_add_user_data.exs
Due: mix-format-database, mix-format-protobuf-elixir

Add service request handlers
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/models/user.ex
  database/lib/poketwo/database/v1/database/server.ex
Due: mix-format-database, mix-format-protobuf-elixir

Add service protobuf
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/service.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-python, compile-protos-elixir

Add protobufs for new types
  protobuf-elixir/lib/poketwo/database/v1/models.pb.ex
  protobuf/poketwo/database/v1/models.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-python, compile-protos-elixir

Add protobuf conversions
  database/lib/poketwo/database/models/pokedex_entry.ex
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/models/user.ex
Due: mix-format-database, mix-format-protobuf-elixir

Refactor and add typespecs
  database/lib/poketwo/database/models/generation.ex
  database/lib/poketwo/database/models/generation_info.ex
  database/lib/poketwo/database/models/language.ex
  database/lib/poketwo/database/models/pokedex_entry.ex
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/models/region.ex
  database/lib/poketwo/database/models/region_info.ex
  database/lib/poketwo/database/models/species.ex
  database/lib/poketwo/database/models/species_info.ex
  database/lib/poketwo/database/models/type.ex
  database/lib/poketwo/database/models/type_info.ex
  database/lib/poketwo/database/models/user.ex
  database/lib/poketwo/database/models/variant.ex
  database/lib/poketwo/database/models/variant_info.ex
  database/lib/poketwo/database/v1/database/server.ex
Due: mix-format-database, mix-format-protobuf-elixir

Fix imports
  module-pokedex/src/main.rs
Due: none

Update deps
  module-pokedex/Cargo.toml
Due: none

Add general module
  Cargo.lock
  Cargo.toml
  module-general/Cargo.toml
  module-general/src/main.rs
  module-pokedex/Cargo.toml
Due: none

Add start command
  Cargo.lock
  module-general/Cargo.toml
  module-general/src/command/mod.rs
  module-general/src/command/pick.rs
  module-general/src/command/start.rs
  module-general/src/config.rs
  module-general/src/main.rs
  module-general/src/state.rs
  resources/locales/en/general.ftl
Due: none

Fix localization fallback
  i18n-rust/src/lib.rs
Due: none

Start on pick command
  module-general/src/command/pick.rs
  resources/locales/en/errors.ftl
Due: none

Send error when encountered
  command-framework/src/client.rs
  module-pokedex/src/command/pokedex.rs
Due: none

Add new protos
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/service.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-python, compile-protos-elixir

Implement create user
  database/lib/poketwo/database/models/user.ex
  database/lib/poketwo/database/v1/database/server.ex
Due: mix-format-database, mix-format-protobuf-elixir

Implement create pokemon
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/utils.ex
  database/lib/poketwo/database/v1/database/server.ex
Due: mix-format-database, mix-format-protobuf-elixir

Refactor create pokemon handler
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/utils.ex
  database/lib/poketwo/database/v1/database/server.ex
Due: mix-format-database, mix-format-protobuf-elixir

Implement pick command
  Cargo.lock
  module-general/Cargo.toml
  module-general/src/command/pick.rs
  resources/locales/en/general.ftl
Due: none

Add error handling
  database/lib/poketwo/database/utils.ex
  database/lib/poketwo/database/v1/database/server.ex
Due: mix-format-database, mix-format-protobuf-elixir
