Repository poketwo/poketwo-next: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format-database, mix-format-protobuf-elixir, compile-protos-python, compile-protos-elixir

mix-format-database:
  name: mix format (database)
  description: Formats Elixir files with mix format.
  language: system
  entry: cd database && mix format

mix-format-protobuf-elixir:
  name: mix format (protobuf-elixir)
  description: Formats Elixir files with mix format.
  language: system
  entry: cd protobuf-elixir && mix format

compile-protos-python:
  name: Compile Protobufs (Python)
  description: This hook compiles protobufs for Python.
  entry: python protobuf-python/build.py
  language: python
  pass_filenames: false

compile-protos-elixir:
  name: Compile Protobufs (Elixir)
  description: This hook compiles protobufs for Elixir.
  entry: protoc --elixir_out=plugins=grpc:./protobuf-elixir/lib/ --proto_path=./protobuf
  language: system

Add grpc endpoint and queries
  database/.formatter.exs
  database/config/config.exs
  database/lib/poketwo/database/application.ex
  database/lib/poketwo/database/endpoint.ex
  database/lib/poketwo/database/models/species.ex
  database/lib/poketwo/database/models/variant.ex
  database/lib/poketwo/database/v1/database/server.ex
  database/mix.exs
  database/mix.lock
  protobuf-elixir/mix.exs
  protobuf-elixir/mix.lock
Due: mix-format-database, mix-format-protobuf-elixir

Add language to info protobufs
  database/lib/poketwo/database/models/language.ex
  database/lib/poketwo/database/models/species.ex
  database/lib/poketwo/database/models/species_info.ex
  database/lib/poketwo/database/models/variant.ex
  database/lib/poketwo/database/models/variant_info.ex
  protobuf-elixir/lib/poketwo/database/v1/models.pb.ex
  protobuf-python/poketwo/database/v1/models_pb2.py
  protobuf/poketwo/database/v1/models.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-python, compile-protos-elixir

Add interaction protobufs
  protobuf-elixir/lib/poketwo/discord/v1/models.pb.ex
  protobuf-python/poketwo/discord/v1/models_pb2.py
  protobuf/poketwo/discord/v1/models.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-python, compile-protos-elixir

Use msgpack instead of protobuf
  Cargo.lock
  gateway/Cargo.toml
  gateway/src/amqp.rs
  gateway/src/config.rs
  gateway/src/main.rs
Due: none

Add gateway client
  Cargo.lock
  Cargo.toml
  gateway-client/Cargo.toml
  gateway-client/src/lib.rs
Due: none

Add tracing
  Cargo.lock
  gateway-client/Cargo.toml
  gateway-client/src/lib.rs
Due: none

Add default expiration
  gateway/src/amqp.rs
  gateway/src/config.rs
Due: none

Refactor code
  gateway/src/main.rs
Due: none

Add pokedex module
  Cargo.lock
  Cargo.toml
  module-pokedex/Cargo.toml
  module-pokedex/src/config.rs
  module-pokedex/src/main.rs
Due: none

Switch from msgpack to json
  Cargo.lock
  gateway/Cargo.toml
  gateway/src/main.rs
  module-pokedex/Cargo.toml
  module-pokedex/src/main.rs
Due: none

Remove Python protobufs
  .pre-commit-config.yaml
  protobuf-python/build.py
  protobuf-python/google/protobuf/timestamp_pb2.py
  protobuf-python/google/protobuf/wrappers_pb2.py
  protobuf-python/poetry.lock
  protobuf-python/poketwo/database/v1/models_pb2.py
  protobuf-python/poketwo/database/v1/service_pb2.py
  protobuf-python/poketwo/discord/v1/models_pb2.py
  protobuf-python/poketwo/gateway/v1/events_pb2.py
  protobuf-python/pyproject.toml
Due: none

Remove old protobufs
  Cargo.lock
  protobuf-elixir/lib/poketwo/discord/v1/models.pb.ex
  protobuf-elixir/lib/poketwo/gateway/v1/events.pb.ex
  protobuf-rust/Cargo.toml
  protobuf-rust/src/lib.rs
  protobuf/poketwo/discord/v1/models.proto
  protobuf/poketwo/gateway/v1/events.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-python, compile-protos-elixir

Add basic handler
  module-pokedex/src/main.rs
Due: none

Send InteractionCreate instead of specific type
  gateway/src/main.rs
Due: none

Add proof of concept slash command
  Cargo.lock
  module-pokedex/Cargo.toml
  module-pokedex/src/command/mod.rs
  module-pokedex/src/command/pokedex.rs
  module-pokedex/src/main.rs
Due: none

Add command framework
  command-framework/Cargo.toml
  command-framework/src/client.rs
  command-framework/src/command.rs
  command-framework/src/context.rs
  command-framework/src/lib.rs
Due: none

Add command handler macros
  command-framework-macros/Cargo.toml
  command-framework-macros/src/command.rs
  command-framework-macros/src/lib.rs
Due: none

Add testing crate
  Cargo.lock
  Cargo.toml
  command-framework-macros/src/command.rs
  command-framework-test/Cargo.toml
  command-framework-test/src/main.rs
Due: none

Refactor code
  command-framework-macros/src/command.rs
Due: none

Add rest of command framework
  Cargo.lock
  command-framework-test/src/main.rs
  command-framework/Cargo.toml
  command-framework/src/client.rs
  command-framework/src/command.rs
  command-framework/src/context.rs
  gateway-client/src/lib.rs
Due: none

Add registering commands
  command-framework/src/client.rs
Due: none

Refactor command macro
  Cargo.lock
  command-framework-macros/Cargo.toml
  command-framework-macros/src/command.rs
Due: none

Add subcommand support
  command-framework-macros/src/group.rs
  command-framework-macros/src/lib.rs
  command-framework-test/src/main.rs
  command-framework/src/lib.rs
Due: none

Refactor command macros
  command-framework-macros/src/command.rs
  command-framework-macros/src/group.rs
Due: none

Refactor code
  command-framework-macros/src/command.rs
  command-framework-macros/src/group.rs
  command-framework-test/src/main.rs
  command-framework/src/client.rs
  command-framework/src/command.rs
  command-framework/src/lib.rs
Due: none

Add global data to CommandClient
  command-framework-macros/Cargo.toml
  command-framework-macros/src/command.rs
  command-framework-macros/src/group.rs
  command-framework-macros/src/lib.rs
  command-framework-macros/src/util.rs
  command-framework-test/src/main.rs
  command-framework/src/client.rs
  command-framework/src/command.rs
  command-framework/src/context.rs
Due: none

Rename data to state
  command-framework-test/src/main.rs
  command-framework/src/client.rs
Due: none

Add database pokedex requests
  Cargo.lock
  module-pokedex/Cargo.toml
  module-pokedex/src/command/mod.rs
  module-pokedex/src/command/pokedex.rs
  module-pokedex/src/config.rs
  module-pokedex/src/main.rs
  module-pokedex/src/state.rs
Due: none

Add pokedex command embed rendering
  module-pokedex/src/command/pokedex.rs
Due: none

Add type region generation info
  database/lib/poketwo/database/models/generation.ex
  database/lib/poketwo/database/models/generation_info.ex
  database/lib/poketwo/database/models/language.ex
  database/lib/poketwo/database/models/region.ex
  database/lib/poketwo/database/models/region_info.ex
  database/lib/poketwo/database/models/species.ex
  database/lib/poketwo/database/models/type.ex
  database/lib/poketwo/database/models/type_info.ex
  database/lib/poketwo/database/models/variant.ex
  database/lib/poketwo/database/models/variant_type.ex
  database/priv/repo/migrations/20220518173440_add_fields.exs
Due: mix-format-database, mix-format-protobuf-elixir

Add loading script for new fields
  database/lib/mix/tasks/db/load.ex
Due: mix-format-database, mix-format-protobuf-elixir

Update queries and protobuf conversions
  database/lib/poketwo/database/models/generation.ex
  database/lib/poketwo/database/models/generation_info.ex
  database/lib/poketwo/database/models/region.ex
  database/lib/poketwo/database/models/region_info.ex
  database/lib/poketwo/database/models/species.ex
  database/lib/poketwo/database/models/species_info.ex
  database/lib/poketwo/database/models/type.ex
  database/lib/poketwo/database/models/type_info.ex
  database/lib/poketwo/database/models/variant.ex
  database/lib/poketwo/database/models/variant_info.ex
Due: mix-format-database, mix-format-protobuf-elixir

Update protobufs
  protobuf-elixir/lib/poketwo/database/v1/models.pb.ex
  protobuf/poketwo/database/v1/models.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-python, compile-protos-elixir

Update vscode settings
  .vscode/settings.json
Due: none

Update docker stuff
  .dockerignore
  docker-compose.yml
Due: none

Update pokedex command
  Cargo.lock
  module-pokedex/Cargo.toml
  module-pokedex/src/command/pokedex.rs
Due: none

Filter and order languages
  database/lib/poketwo/database/models/species.ex
  database/lib/poketwo/database/models/variant.ex
  database/lib/poketwo/database/utils.ex
Due: mix-format-database, mix-format-protobuf-elixir

Add i18n
  Cargo.lock
  Cargo.toml
  i18n-rust/Cargo.toml
  i18n-rust/src/lib.rs
  module-pokedex/Cargo.toml
  module-pokedex/src/command/pokedex.rs
  resources/locales/en-US/main.ftl
  resources/locales/en-US/pokedex.ftl
Due: none

Fix flavor text loading
  database/lib/mix/tasks/db/load.ex
Due: mix-format-database, mix-format-protobuf-elixir

Refactor localization
  Cargo.lock
  command-framework/Cargo.toml
  command-framework/src/context.rs
  command-framework/src/lib.rs
  database/lib/mix/tasks/db/load.ex
  i18n-rust/Cargo.toml
  i18n-rust/src/lib.rs
  module-pokedex/src/command/pokedex.rs
  module-pokedex/src/main.rs
  protobuf-rust/src/lib.rs
Due: mix-format-database, mix-format-protobuf-elixir

Path conditions:
  mix-format-database: any of: \.exs?$
  mix-format-protobuf-elixir: any of: \.exs?$
  compile-protos-python: any of: \.proto$
  compile-protos-elixir: any of: \.proto$
