Repository poketwo/poketwo-next: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

mix-format-database:
  name: mix format (database)
  description: Formats Elixir files with mix format.
  language: system
  entry: cd database && mix format

mix-format-protobuf-elixir:
  name: mix format (protobuf-elixir)
  description: Formats Elixir files with mix format.
  language: system
  entry: cd protobuf-elixir && mix format

compile-protos-elixir:
  name: Compile Protobufs (Rust)
  description: This hook compiles protobufs for Rust.
  entry: cd protobuf-rust && touch build.rs && cargo build
  language: system

Reward pokecoins on catch
  database/lib/poketwo/database/v1/database/create_pokemon.ex
  module-catching/src/command/catch.rs
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/service.proto
  resources/locales/en/main.ftl
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

Add emojis
  Cargo.lock
  Cargo.toml
  emojis/Cargo.toml
  emojis/src/lib.rs
  emojis/src/pokemon_emojis.rs
  module-pokedex/Cargo.toml
  module-pokedex/src/command/pokedex/info.rs
  module-pokedex/src/command/pokedex/mod.rs
  module-pokedex/src/command/pokemon/list.rs
Due: none

Add filters
  protobuf-elixir/lib/poketwo/database/v1/filters.pb.ex
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/filters.proto
  protobuf/poketwo/database/v1/service.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

Refactor pokemon querying code
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/v1/database/get_pokemon.ex
  database/lib/poketwo/database/v1/database/get_pokemon_list.ex
Due: mix-format-database, mix-format-protobuf-elixir

Refactor user querying code
  database/lib/poketwo/database/models/user.ex
  database/lib/poketwo/database/v1/database/get_pokemon.ex
  database/lib/poketwo/database/v1/database/get_user.ex
Due: mix-format-database, mix-format-protobuf-elixir

Refactor species and variant querying code
  database/lib/poketwo/database/models/species.ex
  database/lib/poketwo/database/models/variant.ex
  database/lib/poketwo/database/v1/database/get_random_spawn.ex
  database/lib/poketwo/database/v1/database/get_species.ex
  database/lib/poketwo/database/v1/database/get_variant.ex
Due: mix-format-database, mix-format-protobuf-elixir

Remove extra typespecs
  database/lib/poketwo/database/models/generation.ex
  database/lib/poketwo/database/models/generation_info.ex
  database/lib/poketwo/database/models/language.ex
  database/lib/poketwo/database/models/pokedex_entry.ex
  database/lib/poketwo/database/models/region.ex
  database/lib/poketwo/database/models/region_info.ex
  database/lib/poketwo/database/models/species_info.ex
  database/lib/poketwo/database/models/type.ex
  database/lib/poketwo/database/models/type_info.ex
  database/lib/poketwo/database/models/variant_info.ex
Due: mix-format-database, mix-format-protobuf-elixir

Add filters
  database/lib/poketwo/database/filter/numeric.ex
  database/lib/poketwo/database/models/generation.ex
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/models/region.ex
  database/lib/poketwo/database/models/species.ex
  database/lib/poketwo/database/models/type.ex
  database/lib/poketwo/database/models/variant.ex
  database/lib/poketwo/database/v1/database/get_pokemon.ex
  database/lib/poketwo/database/v1/database/get_pokemon_list.ex
  protobuf-elixir/lib/poketwo/database/v1/filters.pb.ex
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/filters.proto
  protobuf/poketwo/database/v1/service.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

Refactor filters
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/v1/database/get_pokemon_list.ex
Due: mix-format-database, mix-format-protobuf-elixir

Add filters in command
  Cargo.lock
  Cargo.toml
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/v1/database/get_pokemon_list.ex
  module-pokedex/src/command/pokemon/list.rs
  protobuf-elixir/lib/poketwo/database/v1/filters.pb.ex
  protobuf/poketwo/database/v1/filters.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

Add readme and license
  LICENSE
  README.md
Due: none

Fix readme
  README.md
Due: none

Refactor filters, add full n-tuple support
  database/lib/poketwo/database/filter/numeric.ex
  database/lib/poketwo/database/models/pokemon.ex
  module-pokedex/src/command/pokemon/list.rs
  protobuf-elixir/lib/poketwo/database/v1/filters.pb.ex
  protobuf/poketwo/database/v1/filters.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

Refactor command macros to support raw identifiers
  command-framework-macros/src/command.rs
  command-framework-macros/src/group.rs
  module-pokedex/src/command/pokemon/list.rs
Due: none

Combine rarity and form filters
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/utils.ex
  module-pokedex/src/command/pokemon/list.rs
  protobuf-elixir/lib/poketwo/database/v1/filters.pb.ex
  protobuf/poketwo/database/v1/filters.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

Add order by support
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/v1/database/get_pokemon_list.ex
  module-pokedex/src/command/pokemon/list.rs
  protobuf-elixir/lib/poketwo/database/v1/filters.pb.ex
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/filters.proto
  protobuf/poketwo/database/v1/service.proto
  resources/locales/en/errors.ftl
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

Make catching error messages non-ephemeral
  module-catching/src/command/catch.rs
Due: none

Update assets url
  module-pokedex/src/command/pokedex/info.rs
  module-pokedex/src/command/pokemon/info.rs
Due: none

Combine numeric filters separated by comma
  database/lib/poketwo/database/models/pokemon.ex
Due: mix-format-database, mix-format-protobuf-elixir

Add update user route
  database/lib/poketwo/database/models/user.ex
  database/lib/poketwo/database/v1/database/create_user.ex
  database/lib/poketwo/database/v1/database/server.ex
  database/lib/poketwo/database/v1/database/update_user.ex
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/service.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

Preload associations for user
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/models/user.ex
  database/lib/poketwo/database/v1/database/update_user.ex
  protobuf-elixir/lib/poketwo/database/v1/models.pb.ex
  protobuf/poketwo/database/v1/models.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

Add select command
  module-pokedex/src/command/pokemon/mod.rs
  module-pokedex/src/command/pokemon/select.rs
  resources/locales/en/pokedex.ftl
Due: none

Add update pokemon rpc route
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/v1/database/create_pokemon.ex
  database/lib/poketwo/database/v1/database/create_user.ex
  database/lib/poketwo/database/v1/database/get_pokemon.ex
  database/lib/poketwo/database/v1/database/server.ex
  database/lib/poketwo/database/v1/database/update_pokemon.ex
  protobuf-elixir/lib/poketwo/database/v1/service.pb.ex
  protobuf/poketwo/database/v1/service.proto
Due: mix-format-database, mix-format-protobuf-elixir, compile-protos-elixir

Add nickname command
  module-pokedex/src/command/pokemon/list.rs
  module-pokedex/src/command/pokemon/mod.rs
  module-pokedex/src/command/pokemon/nickname.rs
  module-pokedex/src/command/pokemon/select.rs
  resources/locales/en/pokedex.ftl
Due: none

Add favorite command
  module-pokedex/src/command/pokemon/favorite.rs
  module-pokedex/src/command/pokemon/list.rs
  module-pokedex/src/command/pokemon/mod.rs
  resources/locales/en/pokedex.ftl
Due: none

Fix alola/galar/hisui types
  database/lib/poketwo/database/models/pokemon.ex
Due: mix-format-database, mix-format-protobuf-elixir

Allow combining multiple of the same filter
  database/lib/poketwo/database/models/pokemon.ex
  database/lib/poketwo/database/models/region.ex
  database/lib/poketwo/database/models/type.ex
  database/lib/poketwo/database/models/variant.ex
Due: mix-format-database, mix-format-protobuf-elixir

Refactor create pokemon code
  database/lib/poketwo/database/v1/database/create_pokemon.ex
Due: mix-format-database, mix-format-protobuf-elixir

Fix select response localization
  resources/locales/en/pokedex.ftl
Due: none

Update to twilight 0.11
  Cargo.lock
  command-framework-macros/src/command.rs
  command-framework-macros/src/group.rs
  command-framework/Cargo.toml
  command-framework/src/client.rs
  gateway/Cargo.toml
  gateway/src/gateway.rs
  module-catching/Cargo.toml
  module-catching/src/command/catch.rs
  module-general/Cargo.toml
  module-general/src/command/pick.rs
  module-general/src/command/start.rs
  module-pokedex/Cargo.toml
  module-pokedex/src/command/pokedex/info.rs
  module-pokedex/src/command/pokedex/mod.rs
  module-pokedex/src/command/pokemon/favorite.rs
  module-pokedex/src/command/pokemon/info.rs
  module-pokedex/src/command/pokemon/list.rs
  module-pokedex/src/command/pokemon/mod.rs
  module-pokedex/src/command/pokemon/nickname.rs
  module-pokedex/src/command/pokemon/select.rs
Due: none

Add support for command localization
  command-framework-macros/src/command.rs
  command-framework-macros/src/group.rs
Due: none

Add command name and desc localization
  Cargo.lock
  command-framework-macros/src/command.rs
  command-framework/Cargo.toml
  command-framework/src/client.rs
  command-framework/src/lib.rs
Due: none

Rename source file folder
  crowdin.yml
  resources/locales/en-US/catching.ftl
  resources/locales/en-US/errors.ftl
  resources/locales/en-US/general.ftl
  resources/locales/en-US/main.ftl
  resources/locales/en-US/pokedex.ftl
Due: none

Fix pre commit config
  .pre-commit-config.yaml
Due: none

Add localizations for existing commands
  module-catching/src/command/catch.rs
  module-general/src/command/pick.rs
  module-general/src/command/start.rs
  module-pokedex/src/command/pokedex/info.rs
  module-pokedex/src/command/pokemon/favorite.rs
  module-pokedex/src/command/pokemon/info.rs
  module-pokedex/src/command/pokemon/list.rs
  module-pokedex/src/command/pokemon/nickname.rs
  module-pokedex/src/command/pokemon/select.rs
  resources/locales/en-US/commands.ftl
Due: none

Add group name and description localizations
  command-framework-macros/src/command.rs
  command-framework-macros/src/group.rs
  module-pokedex/src/command/pokedex/mod.rs
  module-pokedex/src/command/pokemon/favorite.rs
  module-pokedex/src/command/pokemon/mod.rs
  resources/locales/en-US/commands.ftl
Due: none

Update source file errors.ftl
  resources/locales/en-US/errors.ftl
Due: none

Update source file catching.ftl
  resources/locales/en-US/catching.ftl
Due: none

Update source file general.ftl
  resources/locales/en-US/general.ftl
Due: none

Path conditions:
  mix-format-database: any of: \.exs?$
  mix-format-protobuf-elixir: any of: \.exs?$
  compile-protos-elixir: any of: \.proto$
